# Versiones de los contenedores
HTTPS_PORTAL_VERSION=1
PHP_VERSION=8.2
MARIADB_VERSION=10.6

# Variables de configuración para el entorno de desarrollo
MYSQL_ROOT_PASSWORD=12345Abcde
MYSQL_DATABASE=blog
MYSQL_USER=blog
MYSQL_PASSWORD=12345Abcde

# Prefijo para los contenedores
COMPOSE_PROJECT_NAME=pipeline-laravel
